:root {
  --bg-clr: rgb(110,63,251);
  --bg-gradient: radial-gradient(circle, rgba(110,63,251,1) 0%, rgba(183,70,252,1) 100%);
}

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

html, body, #root, .App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.container {
  width: 550px;
}

.header {
  min-height: 60px;
  background: var(--bg-gradient);
  color: white;
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  padding: 0 3rem;
}

.header-troll {
  display: block;
  width: 40px;
}

.header-h1 {
  padding-left: 0.5rem;
}

.header-h2 {
  margin-left: auto;
  font-weight: 300;
  font-size: 16px;
}

.main {
  flex-grow: 1;
  width: 600px;
  margin: 0 auto;
  margin-top: 3rem;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-input {
  width: 45%;
  border-radius: 0.5rem;
  padding: 0.75rem;
  border-style: solid;
  border-color: var(--bg-clr);
}

.form-button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--bg-gradient);
  color: white;
  font-weight: 600;
}

.meme-wrapper {
  margin: 1.5rem auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  width: 600px;
}

.meme-image {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  
}

.meme-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-stroke: 3px #000;
  color: white;
  z-index: 1;
  text-align: center;
  overflow-wrap: break-word;
}

.top-text {
  width: 600px;
  height: auto;
}

.bottom-text {
  width: 600px;
  height: auto;
}